<%= form_with(model: org, local: true) do |form| %>
<form>
  <div class="container">
      <h1>New Organization</h1>
      <div class="row-auto">
        <label class="visually-hidden" for="autoSizingInput">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Name">
      </div>
      <div class="row-auto">
        <label class="visually-hidden" for="autoSizingInput">Location</label>
        <input type="text" class="form-control" id="location" placeholder="Address">
      </div>
      <div class="row-auto">
        <label class="visually-hidden" for="autoSizingInput">Description</label>
        <input type="text" class="form-control" id="description" placeholder="Description">
      </div>
      <div class="row-auto">
        <label class="visually-hidden" for="autoSizingInput">Website</label>
        <input type="url_field" class="form-control" id="website" placeholder="Website">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>

    
    
  <% if org.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(org.errors.count, "error") %> prohibited this organization from being saved:</h2>

      <ul>
        <% org.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="container.fluid">
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :website %>
    <%= form.url_field :website %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
</div>
<% end %>
