<p id="notice"><%= notice %></p>

<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-3"></div>
    <div class="col-sm-3"></div>
    <div class="col-sm-3"><%= link_to 'New Organization', new_org_path, class: "btn btn-info" %></div>
</div>

  <div class="container">
    <div class="table-title"> <h1>Community Organizations</h1> </div>
    <div class="table-search">
      <%= form_tag(orgs_path, method: :get) do %>
      <p> Search for an organization </p>
      <%= text_field_tag(:search, params[:search]) %>
      <%= submit_tag ("Search") %>
      <% end %>  
    </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th><%= link_to "Name", :sort => "name"%></th>
          <th>Location</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @orgs.each do |org| %>
          <tr>
            <td><%=link_to org.name, org, method: :show%></td>
            <td><%= org.location %></td>
            <td><%= org.description %></td>
            <td><div style="width:100%; height: 100%">
              <button type="button" class="btn btn-outline-secondary">
                <%= link_to ('<i class="material-icons weblink">open_in_new</i>').html_safe, org.website, target: '_blank', :method => :get %>
              </button>
              <% if logged_in? %>
                <button type="button" class="btn btn-outline-secondary">
                  <%= link_to ('<i class="material-icons weblink">edit</i>').html_safe, edit_org_path(org) %>
                </button>
              <% end %>
            </div></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
