<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col text-sm-center">
    <%= link_to 'Edit', edit_org_path(@org), class: "btn btn-outline-secondary btn-sm" %>
  </div>
  <div class="col text-sm-center">
    <%= button_to 'Delete', @org, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %>
  </div>
</div>

<div class="card text-center">
  <div class="card-body">
    <h3 class="card-title"><strong> <%= @org.name %> </strong></h3>
    <p class="card-text"> <strong> Location: </strong> <%= @org.location %> </p>
    <p class="card-text"> <strong> Description: </strong> <%= @org.description %> </p>
    <p class="card-text"> <strong> <%= link_to 'Website', @org.website, target: '_blank' %> </strong>  </p>
  </div>
</div>

<div class="row">
  <div class="col">
    <p class="text-center"><%= link_to 'Back', orgs_path, class: "btn btn-secondary" %></p>
  </div>
</div>
