<!DOCTYPE html>
<html>
  <head>
    <title>EnvironmentalResources</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_pack_tag "application.css" %>
    <%= stylesheet_link_tag "http://yandex.st/bootstrap/3.0.2/css/bootstrap.min.css", media: "all" %>
    <%= javascript_include_tag "http://yandex.st/bootstrap/3.0.2/js/bootstrap.min.js" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Environmental Resources</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/orgs">Organizations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/events">Events</a>
          </li>
        </ul>
      </div>
    </nav>
<%= yield %>

<div class="card-group">
    <div class="col">
          <div class="card text-center">
          <div class="card-header">
              <%= link_to 'Join', new_org_path, class: "btn btn-info" %>
          </div>
            <div class="card-text">  
            <p>If you are part of an organization, register here to post informaton about services or events</p>
            <img src="https://business.comcast.com/community/images/librariesprovider3/supporting/earth-day-article-featured-image-04.jpg?sfvrsn=675403d4_0" class="card-img-bottom" alt="Green businesses graphic">

              </div>
        </div>
    </div>
    
    <div class="col">
        <div class="card text-center">
          <div class="card-header">        
                        <%= link_to 'Explore', events_path, class: "btn btn-info" %>
          </div>
          <div class="card-text">
              <p>Check out our calendar of upcoming events and important dates</p>
              </div>
        <img src="https://www.creativefabrica.com/wp-content/uploads/2018/12/Calendar-Icon-by-Zafreeloicon-2-580x386.jpg" class="card-img-bottom" alt="calendar icon">
        </div>
            </div>
            
    <div class="col">
        <div class="card text-center">
          <div class="card-header">        
                        <%= link_to 'Volunteer', events_path, class: "btn btn-info" %>
          </div>
          <div class="card-text">
              <p>Sign up to receive updates on volunteer opportunities</p>
            </div>
        <img src="https://d3n8a8pro7vhmx.cloudfront.net/greenpartylouisiana/pages/17/features/original/volunteer-1550327.jpg?1476384433" class="card-img-bottom" alt="Volunteer raised hands graphic">
        </div>
            </div> 
  </div>

      
      

  </body>
</html>
