<%= form_with(model: event, local: true) do |form| %>
<form>
  <div class="container">
    <div class="field">
      <%= form.label :event_name, "Event Name", class: "visually-hidden" %>
      <%= form.text_field :event_name, class: "form-control", placeholder: "Your event name"%>
    </div>
    <div class="field">
      <%= form.label :event_description, "Event Description", class: "visually-hidden" %>
      <%= form.text_field :event_description, class: "form-control", placeholder: "Your event description" %>
    </div>
    <div class="field">
      <%= form.label :date, "Date", class: "visually-hidden" %>
      <%= form.datetime_local_field :date, class: "form-control", placeholder: "Your event date" %>
    </div>
    <div class="field">
      <%= form.label :org, "Org", class: "visually-hidden" %>
      <%= form.collection_select :org_id, Org.all, :id, :name, {:include_blank => false}, {class: "form-select"} %>
    </div>
    <div class="actions">
      <%= form.submit "Submit", class: "btn btn-primary" %>
    </div>
    </div>

    <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

<% end %>

