<!DOCTYPE html>
<html lang = "en">
  <head>
    <title>Recycling Programs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application.css" %>
    <%= stylesheet_link_tag "http://yandex.st/bootstrap/3.0.2/css/bootstrap.min.css", media: "all" %>
    <%= javascript_include_tag "http://yandex.st/bootstrap/3.0.2/js/bootstrap.min.js" %>
    <%= csrf_meta_tags %>
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #004225;">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Recycling Program</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/orgs">Organizations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/events">Events</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if logged_in? %>
              <li class="nav-item">
                <a class="nav-link" href="/users">Profile</a>
              </li>
              <li class="nav-item"><%= link_to "Log out", logout_path, method: "delete", :class => "nav-link" %></li>
            <% else %>
              <li class="nav-item"><%= link_to "Sign up", sign_up_path, :class => "nav-link" %></li>
              <li class="nav-item"><%= link_to "Log in", sign_in_path, :class => "nav-link" %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
<%= yield %>

<div class="card-group">
    <div class="col">
          <div class="card">
            <img src="/join.jpg" class="card-img" alt="">
            <div class="card-img-overlay">
              <p class="card-text"><%=link_to 'Register A New Organization', new_org_path, class: "btn btn-success btn-sm"%></p>
              <p>If you are part of an organization, register here to post information about services or events</p>
            </div>
        </div>
    </div>
    
    <div class="col">
      <div class="card">
        <img src="/explore.jpg" class="card-img" alt="">
        <div class="card-img-overlay">
          <p class="card-text"><%=link_to 'Explore', events_path, class: "btn btn-success btn-sm"%></p>
          <p>Check out our calendar of upcoming events and important dates</p>
        </div>
      </div>
    </div>

  <div class="col">
    <div class="card">
      <img src="/volunteer.jpg" class="card-img" alt="">
      <div class="card-img-overlay">
        <p class="card-text"><%=link_to 'Join Email List', sign_up_path, class: "btn btn-success btn-sm" %></p>
        <p>Sign up to receive updates on volunteer opportunities</p>
      </div>
    </div>
  </div>
</div>

  </body>
</html>
